.users-list {
  background-color: #fff;
  padding: 1rem;
  width: 40rem;
  margin: 1rem auto;
  max-width: 90%;
}

.users-list ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 0;
}

.users-list li {
  border: 1px solid #b9b9b9;
  padding: 0.5rem;
  list-style: none;
}
