.users-list {
  background-color: #fff;
  padding: 1rem;
  width: 40rem;
  margin: 1rem auto;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 90%;
}

.users-list__user {
  border: 1px solid #b9b9b9;
  padding: 0.5rem;
}
